<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newscrapper</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav >
        <a href="{{ url_for('views.index') }}"><img src="/static/img/logo.svg"></a>
        <div>
            <h1>Newscrapper:</h1>
            <p>новостной агрегатор</p>
        </div>
    </nav>
    <main>
        <div class="tag">
            <div class="filter">
                <button class="rss fil_but">RSS</button>
                <button class="tg fil_but">Tg</button>
                <div class="zatich">
                    <div>
                        <input type="radio" name="contact" checked="false">
                        <p>1</p>
                    </div>
                    <div>
                        <input type="radio" name="contact" checked="false">
                        <p>3</p>
                    </div>
                    <div>
                        <input type="radio" name="contact" checked="false">
                        <p>7</p>
                    </div>
                    <div>
                        <input type="radio" name="contact" checked="false">
                        <p>30</p>
                    </div>
                    <div>
                        <input type="radio" name="contact" checked="true">
                        <p>ALL</p>
                    </div>
                </div>
                <button class="rss fil_but">News Интерфакс</button>
                <button class="tg fil_but">РБК</button>
                <button class="rss fil_but">ПРАЙМ</button>
                <button class="tg fil_but">РИА Новости</button>
                <button class="rss fil_but">Opennet</button>
                <button class="tg fil_but">RT на русском</button>
                <div></div>
                <button class="tg fil_but">Colonelcassad</button>
            </div>
            <div class="but_menu">
                <button>ВЫБРАТЬ</button>
                <button>СБРОСИТЬ</button>
            </div>
        </div>
        <div class="post">
        {% block content %} {% endblock %}
    </div>
    </main>
  </body>
</html>

