{% extends 'base.html' %}

{% block content %}
    {% for record in records %}
        <div class="news">
            <div class={{ record['info_class'] }}>
                <span>{{ record['title'] }}</span>
                <div>{{ record['source'] }}</div>
                <div class={{ record['news_div'] }}><p>{{ record['source_type'] }}</p></div>
            </div>
            <p>{{record['content']}}</p>
            <div class="rss_setting"><div></div><p>{{ record['datetime'] }}</p></div>
        </div>
    {% endfor %}
{% endblock %}
