body, html{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
html{
    background-image: url(/static/img/back.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
nav{
    background: #9EB899;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    width: 98%;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    gap: 25px;
}
nav div{
    display: flex;
    gap: 5px;
    align-items: center;
}
p{
    margin: 0;
    padding: 0;
}
nav p{font-size: 21px; height: 16px; color: black; line-height: 25px;} nav h1{font-size: 32px; line-height: 32px;}
p, a, .news_tg, .news_rss, button{
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
}
nav img{
    width: 65px;
    height: 65px;
}

main{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 53px;
    padding-top: 150px;
    padding-bottom: 50px;
}
.tag, .post{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin: 25px;
    gap: 50px;
}
.fil_but{
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    border: none;
}
.fil_but:hover{
    transform: scale(1.1);
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
.rss{
    background-color: #EF683E;
}
.tg{
    background-color: #3E50EF;
}
.post{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.news{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    background: #99B8A9;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 50px ;
}
.news_info_tg, .news_info_rss{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    width:  100%;
}
.news_info_tg div{
    background-color: #3E50EF;
    width: 100%;
}
.news_info_rss div{
    background-color: #EF683E;
    width: 100%;
}
.news_tg, .news_rss{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}
.news_tg{

    background-color: #3E50EF;
}
.news_rss{
    background-color: #EF683E;
}
.news a{
    outline: none;
    text-decoration: none;
}
.rss_setting{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items:flex-end;
    height: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.rss_setting p{
    margin: 0;
    padding: 0;
}
.news_tg p, .news_rss p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.tag{
    background: #79B16E;
    flex: 2;
    justify-content: space-between;
    padding: 10px;
}
.but_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.but_menu button{
    width: 100%;
    background: #D2D2CF;
    border: none;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #813454;
    transition: all 1500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
.but_menu button:first-child{color: #3D6B20;}
.but_menu button:hover{
    transform: scale(1.1);
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
.zatich{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    grid-column: span 2;
    background-color: rgba(54, 54, 54, 0.479);
    padding: 5px;
    height: min-content;
    border-radius: 15px;
}
.zatich div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zatich input, .zatich p{
    margin: 0;
    padding: 0;
}
.zatich p{
    height: 28px;
    text-align: center;
}
